body {
  height: 100%;
  margin: 20px;
  color: white;
  background-color: #89609E;
  display: flex;
  align-items: center;
}

#new-patient-form {
  align-items: center;
  font-size: 35px;
  font-family: 'Source Code Pro', monospace;
}

.center-div {
  top:30%;
  position: absolute;
}

.buttons {
  margin-top: 100px;
  text-align: center;
}

.btn {
  color: #89609E;
  background-color: white;
  width: 150px;
  font-size: 30px;
}

input[type=text], input[type=password] {
  width: 350px;
}

input[type=radio] {
  height: 30px;
  width: 30px;
}

#submit_btn {
  padding: 20px;
  border-radius: 10px;
}